<h3>Créditos:</h3>
<p>Autor: Jesus Bernabe Imedio Perea</p>
<p><img src="images/arguis.jpg" width="100" /></p>
<p>curso: "Desarrollo de servicios en la nube con HTML5, Javascript y node.js"</p>
<p><a href="https://www.miriadax.net/"> plataforma MiriadaX</a></p>